 .btn {
   background-color: #fff;
   border: 1px solid transparent;
   padding: 15px;
   display: block;
   width: 100%;

   &.btn-rounded {
     border-radius: 100%;
     height: 70px;
     margin: auto;
     width: 70px;
   }

   &.btn-pill {
     border-radius: 50px;
     height: 60px;
   }

   &.btn-warning {
     background-color: #fff6db;
   }

   &.btn-info {
     background-color: #def3f4;
   }
 }
