.text-center {
  text-align: center;
}

.text-copyright {
  font-size: 22px;
  letter-spacing: 0;
  padding: 40px 0 !important;
  line-height: 36px;
}

.heading-2 {
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 30px;
}
